/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f4f1; }

.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

.page {
  min-width: 1024px; }
  .page .page__center {
    max-width: 1200px;
    margin: auto;
    position: relative; }

.header {
  position: relative; }
  .header:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, transparent 2px, transparent 14px);
    background-size: 40px 40px; }
  .header .header__top {
    padding: 20px 30px;
    background-color: #151515;
    line-height: 26px; }
    .header .header__top a {
      margin-right: 10px; }
    .header .header__top span {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      font-style: italic;
      margin-left: 10px;
      position: relative; }
      .header .header__top span:before {
        content: '';
        position: absolute;
        left: -10px;
        bottom: 0;
        width: 1px;
        height: 17px;
        background-color: #a1a1a1; }
  .header .header__bottom {
    padding: 55px 30px;
    background: linear-gradient(to top, #212121, #323232);
    min-height: 141px; }
    .header .header__bottom .header__main-info {
      width: 51.66%; }
      .header .header__bottom .header__main-info a {
        display: inline-block; }
      .header .header__bottom .header__main-info .header__details {
        display: inline-block;
        margin-left: 30px;
        color: #fff;
        vertical-align: top;
        width: calc(100% - 255px); }
        .header .header__bottom .header__main-info .header__details h1 {
          margin: 0;
          display: inline-block;
          vertical-align: middle;
          font-weight: 300;
          font-size: 32px;
          line-height: 32px;
          margin-top: -5px; }
        .header .header__bottom .header__main-info .header__details h2 {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          padding: 10px 0 20px;
          max-width: 360px;
          line-height: 19px; }
        .header .header__bottom .header__main-info .header__details a {
          padding: 15px 30px;
          border: 1px solid #fff;
          border-radius: 23px;
          color: #fff;
          font-weight: 600;
          font-size: 12px;
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.2); }
          .header .header__bottom .header__main-info .header__details a:hover {
            background-color: rgba(0, 0, 0, 0.5); }
          .header .header__bottom .header__main-info .header__details a i {
            margin-right: 10px; }
    .header .header__bottom .header__customer-experience {
      position: absolute;
      right: 0;
      top: -75px;
      border: 1px solid #ebebeb;
      min-width: 440px; }
      .header .header__bottom .header__customer-experience .customer-experience__label {
        padding: 17px 20px;
        background-color: #f7f7f7;
        text-transform: capitalize;
        font-size: 14px;
        color: #666;
        font-weight: 700;
        margin: 0;
        border-bottom: 1px solid #ebebeb; }
      .header .header__bottom .header__customer-experience .customer-experience__wrapper {
        padding: 25px 20px;
        background-color: #fff; }
        .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__rating {
          display: inline-block; }
          .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__rating .digit {
            font-size: 100px;
            color: #ffd000;
            font-weight: 600;
            position: relative;
            display: inline-block;
            line-height: 60px; }
            .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__rating .digit:before {
              content: "/5";
              font-size: 20px;
              font-weight: 700;
              color: #999;
              position: absolute;
              top: -25px;
              right: -20px; }
          .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__rating .stars {
            margin: 20px 0 10px 0; }
          .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__rating .from {
            font-size: 11px;
            color: #999; }
        .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__details {
          height: 15px;
          display: inline-block;
          margin-left: 30px; }
          .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__details .details__row {
            height: 15px;
            line-height: 15px;
            margin-bottom: 10px;
            display: block; }
            .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__details .details__row .icon-star-tiny {
              margin: 0 10px 0 5px; }
            .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__details .details__row span {
              font-size: 12px;
              color: #999;
              vertical-align: top; }
            .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__details .details__row .bar {
              width: 134px;
              height: 15px;
              background-color: #eee;
              margin-right: 10px;
              display: inline-block;
              position: relative;
              overflow: hidden; }
              .header .header__bottom .header__customer-experience .customer-experience__wrapper .customer-experience__details .details__row .bar span {
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #ffd000;
                transition: width linear 0.6s; }

.main-content .page__center {
  max-width: 1260px; }
  .main-content .page__center .left-side {
    width: 19.04%;
    background-color: #fff;
    height: 100%;
    padding: 2.38%;
    box-sizing: border-box;
    position: absolute; }
    .main-content .page__center .left-side ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 14px; }
      .main-content .page__center .left-side ul li {
        position: relative; }
        .main-content .page__center .left-side ul li:before {
          content: '';
          position: absolute;
          width: 7px;
          height: 100%;
          top: 0;
          left: -16.38%;
          background-color: #00b0eb;
          display: none; }
        .main-content .page__center .left-side ul li a {
          color: #666;
          text-decoration: none;
          padding: 10px 0;
          display: inline-block; }
          .main-content .page__center .left-side ul li a i {
            margin-right: 10px; }
        .main-content .page__center .left-side ul li:hover:before {
          display: block; }
        .main-content .page__center .left-side ul li.active {
          font-weight: 700; }
          .main-content .page__center .left-side ul li.active:before {
            display: block; }
  .main-content .page__center .inside-content {
    padding: 3.17%;
    width: 74.19%;
    margin-left: 19.04%; }
    .main-content .page__center .inside-content .filters {
      margin-bottom: 20px; }
      .main-content .page__center .inside-content .filters .filter-select {
        width: 50%;
        float: left; }
    .main-content .page__center .inside-content .current-filters {
      font-size: 12px;
      color: #666;
      font-weight: 700; }
      .main-content .page__center .inside-content .current-filters span {
        margin-right: 31px;
        position: relative; }
        .main-content .page__center .inside-content .current-filters span:after {
          content: '|';
          position: absolute;
          right: -20px;
          top: 0;
          display: block; }
      .main-content .page__center .inside-content .current-filters .current-filter {
        font-weight: 400;
        padding: 10px 13px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        display: inline-block;
        border-radius: 17px;
        cursor: pointer;
        margin-right: 8px; }
        .main-content .page__center .inside-content .current-filters .current-filter i {
          margin-left: 8px; }
        .main-content .page__center .inside-content .current-filters .current-filter:hover {
          background-color: #f2f2f2; }
    .main-content .page__center .inside-content .reviews {
      margin-top: 20px; }
      .main-content .page__center .inside-content .reviews .review {
        border: 1px solid #e0e0e0;
        margin-bottom: 30px; }
        .main-content .page__center .inside-content .reviews .review .review-header, .main-content .page__center .inside-content .reviews .review .review-content, .main-content .page__center .inside-content .reviews .review .review-footer {
          padding: 28px 30px 24px; }
        .main-content .page__center .inside-content .reviews .review .review-header {
          background-color: #f7f7f7; }
          .main-content .page__center .inside-content .reviews .review .review-header .review-header__rating {
            float: left;
            font-size: 12px;
            font-weight: 700;
            color: #666; }
            .main-content .page__center .inside-content .reviews .review .review-header .review-header__rating .stars {
              margin-top: 12px; }
          .main-content .page__center .inside-content .reviews .review .review-header .review-header__details {
            float: right;
            font-size: 12px;
            color: #666;
            text-align: right; }
            .main-content .page__center .inside-content .reviews .review .review-header .review-header__details i {
              margin-right: 5px;
              vertical-align: top; }
            .main-content .page__center .inside-content .reviews .review .review-header .review-header__details .author {
              line-height: 14px;
              margin-bottom: 10px; }
              .main-content .page__center .inside-content .reviews .review .review-header .review-header__details .author span {
                font-weight: 700; }
            .main-content .page__center .inside-content .reviews .review .review-header .review-header__details .age {
              line-height: 12px; }
        .main-content .page__center .inside-content .reviews .review .review-content {
          background-color: #fff; }
          .main-content .page__center .inside-content .reviews .review .review-content p {
            margin: 0; }
          .main-content .page__center .inside-content .reviews .review .review-content .review-announce {
            font-weight: 700;
            color: #666;
            font-size: 20px;
            margin-bottom: 12px; }
          .main-content .page__center .inside-content .reviews .review .review-content .review-full {
            font-weight: 400;
            color: #666;
            font-size: 14px; }
        .main-content .page__center .inside-content .reviews .review .review-footer {
          background-color: #fff;
          border-bottom: 4px solid #d6d2cf; }
          .main-content .page__center .inside-content .reviews .review .review-footer .review-based {
            float: left;
            font-size: 11px;
            color: #666;
            padding-top: 18px; }
          .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons {
            float: right; }
            .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons button {
              outline: none;
              font-size: 11px;
              line-height: 15px;
              padding: 7px 15px 7px;
              background-color: #fff;
              border-radius: 21px;
              border: 1px solid #dddddd;
              cursor: pointer; }
              .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons button:hover {
                background-color: #f2f2f2; }
            .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons .button-share {
              margin-left: 10px;
              color: #666; }
              .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons .button-share i {
                margin-right: 5px;
                vertical-align: text-bottom; }
            .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons .button-like {
              padding: 7px 30px 7px;
              position: relative; }
              .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons .button-like i {
                vertical-align: bottom; }
              .main-content .page__center .inside-content .reviews .review .review-footer .review-buttons .button-like span {
                position: absolute;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background-color: #2298c9;
                color: #fff;
                font-size: 9px;
                text-align: center;
                line-height: 19px;
                right: -3px;
                top: -6px; }
    .main-content .page__center .inside-content .reviews__loadmore {
      text-align: center;
      position: relative; }
      .main-content .page__center .inside-content .reviews__loadmore:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 6; }
      .main-content .page__center .inside-content .reviews__loadmore button {
        padding: 15px 50px;
        border: 1px solid #ccc;
        background-color: #fcfcfc;
        color: #666;
        font-size: 12px;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        outline: none;
        font-weight: 700; }
        .main-content .page__center .inside-content .reviews__loadmore button i {
          margin-left: 5px; }
        .main-content .page__center .inside-content .reviews__loadmore button:hover {
          background-color: #e3e3e3; }
    .main-content .page__center .inside-content .about {
      min-height: 365px;
      background-image: linear-gradient(to top, #212121, #353535);
      position: relative;
      padding: 30px;
      box-sizing: border-box;
      margin-top: 40px; }
      .main-content .page__center .inside-content .about:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, transparent 2px, transparent 14px);
        background-size: 40px 40px; }
      .main-content .page__center .inside-content .about .about__top, .main-content .page__center .inside-content .about .about__middle, .main-content .page__center .inside-content .about .about__bottom {
        position: relative;
        z-index: 500; }
      .main-content .page__center .inside-content .about .about__top img {
        height: 100px;
        display: inline-block;
        vertical-align: top; }
      .main-content .page__center .inside-content .about .about__top > div {
        display: inline-block;
        padding: 15px 25px; }
      .main-content .page__center .inside-content .about .about__top div {
        font-size: 32px;
        color: #fff; }
        .main-content .page__center .inside-content .about .about__top div span {
          color: #ccc; }
      .main-content .page__center .inside-content .about .about__middle {
        margin: 20px 0 60px;
        color: #fff;
        line-height: 19px;
        font-size: 14px; }
      .main-content .page__center .inside-content .about .about__bottom {
        margin-top: 30px; }
        .main-content .page__center .inside-content .about .about__bottom .about__visit {
          float: left; }
          .main-content .page__center .inside-content .about .about__bottom .about__visit a {
            padding: 15px 30px;
            border: 1px solid #fff;
            border-radius: 23px;
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.2); }
            .main-content .page__center .inside-content .about .about__bottom .about__visit a:hover {
              background-color: rgba(0, 0, 0, 0.5); }
            .main-content .page__center .inside-content .about .about__bottom .about__visit a i {
              margin-right: 10px; }
        .main-content .page__center .inside-content .about .about__bottom .about__social {
          float: right; }
          .main-content .page__center .inside-content .about .about__bottom .about__social a {
            width: 30px;
            height: 30px;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
            line-height: 30px; }
            .main-content .page__center .inside-content .about .about__bottom .about__social a:hover {
              background-color: rgba(0, 0, 0, 0.5); }

.footer {
  border-top: 8px solid #ffdd00; }
  .footer .footer__top {
    padding: 70px 30px 60px;
    background-color: #484545;
    text-align: center; }
    .footer .footer__top p {
      color: #fff;
      max-width: 740px;
      margin: 40px auto; }
    .footer .footer__top .footer__visit-link {
      display: inline-block;
      padding: 15px 50px 15px 35px;
      border: 1px solid #fff;
      border-radius: 25px;
      color: #fff;
      font-size: 12px;
      text-decoration: none;
      background: #3a3737; }
      .footer .footer__top .footer__visit-link:hover {
        background: #545050; }
      .footer .footer__top .footer__visit-link i {
        margin-right: 10px; }
  .footer .footer__bottom {
    padding: 65px 30px 45px;
    background-color: #333; }
    .footer .footer__bottom .footer__links {
      margin-bottom: 60px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px; }
    .footer .footer__bottom .footer__bottom-links {
      color: #fff;
      font-size: 12px; }
      .footer .footer__bottom .footer__bottom-links .footer__copyright {
        float: left; }
      .footer .footer__bottom .footer__bottom-links .footer__address {
        float: right; }
        .footer .footer__bottom .footer__bottom-links .footer__address span {
          color: #ffdd00; }

.jq-selectbox.focused .jq-selectbox__select {
  border: none; }

.filter-select .jq-selectbox .placeholder {
  font-weight: 700; }

.filter-select .jq-selectbox__select {
  border-radius: 0;
  background: #fff;
  padding: 7px 45px 7px 20px;
  box-shadow: none;
  font-size: 12px; }
  .filter-select .jq-selectbox__select .jq-selectbox__trigger {
    border-left: none; }
    .filter-select .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAQAAACWu2SvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCB4SLBxotJqwAAAAgElEQVQI1z3MIQrCYABA4e93YBUGO4HVPNAbaFmy6DD+YfdR8I8iFuOCsOYdrB7CKsgMyl58D144bjVW8WUgTdzsR2oLXcoHnevM1SOVVumeCkiFu1KrCr00drb2sMTNzFUd36FHypxsPDF1sYsfQv87Zw4ikiZ+GAIpOKCJf/EFcVckQTlF7sgAAAAASUVORK5CYII=");
      background-size: 12px;
      width: 12px;
      height: 7px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }

.filter-select .jq-selectbox__dropdown {
  font-size: 12px;
  border-radius: 0; }
  .filter-select .jq-selectbox__dropdown li {
    color: #666;
    padding: 7px 45px 7px 20px; }

.f-reviews .jq-selectbox__select {
  border-right: none;
  color: #666; }

.f-reviews .jq-selectbox.focused .jq-selectbox__select {
  border-right: none; }

.f-sortby .jq-selectbox__select {
  color: #666; }

.icon-visit {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBsSAwhXrIaSAAAAeUlEQVQI113PoQ3DMBCF4T9WoZl5kHk3aHiVEQIjL1HcOUo6QDNDSFCGKA8L9gup61PuyNOn052u0Y0nGwATLxJ3Wq5olhemoxatjo2dWpE3A1/0OU1GoWS5IKKy01xQ4+W/NdORf7l35lyu0TKWA/5kntCYL0sFHgeNREQy8rKUzQAAAABJRU5ErkJggg==");
  width: 11px;
  height: 11px;
  display: inline-block; }

.icon-visit-nav {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBsWCzMpd01iAAAAhUlEQVQI12XPIRLCQAyF4X9XVNWtR63nBkXDcIRKJpdAc4jE1PQAYLgAhkNU4euqC2KHZUsT8+abTDJx2nBhBOAmnQkHNmydPtjLRC6L9FSecYUtLw//KAN39PomtUZ9akw5T5uno5UBwE6ZZWaXEDgWu2X+5cXJkoPVS7Ka4IovvxU4fwC9ECp+U/+EPAAAAABJRU5ErkJggg==");
  width: 11px;
  height: 11px;
  display: inline-block; }

.icon-star-empty {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAZCAQAAABqFZ3VAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBsSJB3gtNAcAAABvUlEQVQ4y5WUv0tbURTHP9GHDVI6vEFJwATpokgMeociWGK7ORSxJYkg1UEoBMxU8Q/ooOI/EBEcqoitcexSi0oDBaW5UmqQuJSg2IBDMBCDVrQO+XV9eU/Nmc753vPhHM45XFscCxtlgVGWheljnRVFCB9hq0crzIWDHzhw1Yb5iQJR/LVhQT7Xjj1F5yewg0O6Ho4VWsS63n3YJ4bMEjTctBo0nRS7RT/OoXxNxpBxoLGHNIgZIkoUIYRuyPDa4ktcE2HbYqIYr0S2M05zHW/ZYJ1JHmRynF2S+DVgkRhLtDDL0Z3IEz7gQ4j90iRT9PGXP4zdAQU55ZxnYr8wyYJdMc06y7QzYQpNMcwL8b0Uq3uTdNPFSxOol+d4K5Bx3XmaODEpluOxOFWF25iH/yRMlvALu2yzxgKsKtEjxTfc5m2scouNzJBlBnsxXiVghXn4x0Gxag6NJhr4It8AiASa2mb9u4of5jcxYJr3DDLPBV85Zj6tOzch3UybM1ZKtSk/V5IBnIQ4J0y2rOrMkSfCGSvCU91kJxf4WSPKiAIhMiLAFt/oxyY7qrEcTnrwlIeiLuAjXl7h5rKk3AA51nVIv6IidwAAAABJRU5ErkJggg==");
  width: 27px;
  height: 25px;
  display: inline-block; }

.icon-star-filled {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAZCAMAAAD3wqVsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA1VBMVEX/0AD/////0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AD/0AAAAABku3ImAAAARXRSTlMAAF/8W8gec8ojeM3LH0BSGfLuo6xe920BIMPPKgN5+/6IBjPY4T8KvRDTLSiDffiMDo5D5aIPEqou7VUrIuu1GiHC8yZuIUbqAAAAAWJLR0RGF7r57QAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+AIGxI6MHEqs7YAAADLSURBVCjPddDXFoIwDAbgoCJu3AMXDhy4997m/V/JCgiph+amhe/0b1IAUoFgCCSvKIGMssjCiBgWmMJMEViEmexvUUQ+lFjMMsXX4pYliCVTTqlol/r7kYYMiioLOaHlAQr+J4ulMuuhovlQtWb3WW80/0Rvtd0ZOl2OjB6drz8gpA352U16F/8uIy5zzNmEsylnTi8zezGp2ZH6fLGkoSTSSLHdau2FepGbrbXd7d1Q6/uAeDw5N0tSgD3w2bXL9XYH16TH8/X+2gfpZ00ux0J7hwAAAABJRU5ErkJggg==");
  width: 27px;
  height: 25px;
  display: inline-block; }

.icon-star-tiny {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAQAAABag45kAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBsVGzGP/YBGAAAAuklEQVQY03WRzQpBURSFv3uTlJKJoSuPoONnqgxkIql7x/I8BsrQxBOQ99gnISMTlLEwMzkGjuv4W7vdWa2vdme3MbxK8nKWvJv4uIrIELnBOw5tx/JMbHXAHoCCOjyzhM6Rtr5n376eWHf15ESWf7r41Nn8gVsavlpSZvQDjikpsV/TLaakYnQjUnN3sY0DIcnife/wY3T4C6/osv7CukgNw4CqmlFhCNR0APA4RVt2UndO05SjdAyGO1+eQefpdZQgAAAAAElFTkSuQmCC");
  width: 15px;
  height: 15px;
  display: inline-block; }

.icon-remove {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBwRJDVKkP4GAAAAVklEQVQI112NwQmAMBAE56JV2IZF2MlBSD3HYarwmx5MI2kiPqIg2dcuw7ByXhR1AMiRI1CwHN9pFOmjJMBI6tI/BkkdAlNWfkpGfdnicPe7Nqw2mW8fxVgh84BAt1cAAAAASUVORK5CYII=");
  width: 8px;
  height: 8px;
  display: inline-block; }

.icon-user {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUAAAAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAAAAD9T7wEAAAAG3RSTlMAACZPQTsGPk0MVk4OQD8HCVAoEFQfBRIxLlOc+OQiAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+AIHBIhNTWhtBoAAABqSURBVAjXTYzbFoIwDASntRQQyjVc//9D1a6C87KZnGQBnH+88Y6MC0WEWAS5L7UufY6qltZVjidfNDStrG30m6RJvy51PfRdUvMQxgmmMQwfm23R8WIzrLb9mjdb2Q8ujp0z3hpPjD/sBQp8A09jE5x6AAAAAElFTkSuQmCC");
  width: 14px;
  height: 14px;
  display: inline-block; }

.icon-age {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEUAAAAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAAAAC4y6p7AAAAD3RSTlMAB0lnYRZtJg02BlYKZGCeAahGAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+AIHBInM4qYtqkAAABFSURBVAjXY2AQMnFWZGBgTWdgKAtgEGvgXMCRyKDOwH2AoYjBAEQxMziAKBYQde8BC1AQCJiBSoCgCKiBgQGoAaodYhgAMqYMqqnw9lMAAAAASUVORK5CYII=");
  width: 12px;
  height: 12px;
  display: inline-block; }

.icon-share {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAQAAAD4iURRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBwSMx144GwzAAAAnklEQVQY03XPsWoCURCF4c/rZcFCFEI6EYRgE7DyFVKYB8mrWaZIl0awspeApSApbRZENupuCnXZuPFUw/zM8J+m2zRN7KUQavCk59UDNMplR1dLEIwlcu+2Z/hs6LH24aOBFwP/Jni6hyyi0WVM7WSOgr6IuVXUxsHMurx4OyOiBJ++Kz0zSyuIckUFkZv6uQptHP9oFFdE9KW4Y+sX2h4kPRkSdYYAAAAASUVORK5CYII=");
  width: 14px;
  height: 12px;
  display: inline-block; }

.icon-like {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCBwTCi+/cdo+AAAAxUlEQVQY023QwUoCYQBF4e//Z8LR0CLCRWThomjlwgcofIResOdoG0Gv0KIQM2hV0EYzbaYWOjEDnt3lLA7cRJWWa30v8vVMarIvM3Nisp6xJo89m2qWsyobusZOvW6TV6Y4MNHWgbTS67kRJEZyQXQXcC7zZejeG9qaPgUjP4lLPdHA2CNYmsnl6KYO3ZobaqnzIYsWslq75Mg8IthGxyoKVijKy/7peUo17VvY07JrKVcgNRBMgwtnvjUUcr+bRLDjwfsfA4EuTInuwt4AAAAASUVORK5CYII=");
  width: 14px;
  height: 14px;
  display: inline-block; }

.icon-loadmore {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAQAAADxYuQrAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCB0TMDiht+blAAAAgElEQVQI16WMsQkCQRRE355rETagYDVW8Ts48eDEQIMVbGB/DQaCBVxqsqlgKYIwBguegZkvmhkeE0TFL2Crmht+8OcYfcrLNA4eiJEzD9Zf2pFFw0Dr6eMlWobJ9Vae7IqYQZnT09kpCPCePXdgydYOgBAip6ysnGoLGt+wTc1v/G4p97Fu/roAAAAASUVORK5CYII=");
  width: 10px;
  height: 12px;
  display: inline-block; }

.icon-in {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCB0TNzWQRwyfAAAAp0lEQVQI11WOMYvBAQBHH0kGblS6lMXNLDcZzsZ4260WSZTxUla+gfHmK8stvgCSz8DGehSJ/knPQP/y3vLrTT/8dush9E4fn1n45Y/i+Sm3xLTGCEgAMGJKkQ45KgR4cuLOPxHxV924Ry27svHIH26teIwCF3bUudPmyok46rtv6tyeY7VkXqPAC0uyQJNXCsxIQgyokWJNlwz/RPikCjgIPwfhGt4AplqUILiQ9QIAAAAASUVORK5CYII=");
  width: 11px;
  height: 11px;
  display: inline-block; }

.icon-fb {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAQAAADPwLw+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCB0TOAE2a+TlAAAAbklEQVQI123JIU6CAQBA4W9Ags4RNNowcQS2/whkzHbv4DgI1WBjWrkIAUcyPBP758bX3p6kdd9duraX5t18SA9VfTX0NN6XZGZrADvPPnVqdNCm96qOvbWSVPWaTPAIljDxz52cggXM8OsHZ/gDqNBRfXNWHTsAAAAASUVORK5CYII=");
  width: 7px;
  height: 13px;
  display: inline-block; }

.icon-tw {
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAQAAAAqJXdxAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCB0TNzmZ8UC0AAAAl0lEQVQI112PsQoBAQCGP3WbDAa3kCwGYpAXMCkvoIx2j+El7gaP4QUMHuCiZFEGFotBOekz3J3iG7+v/vpLNrnwIiNkRZ+YDQ+MTCyLiDsLljhVzy6sGn71zS72PKt6d+87D1sJaNMAoEKHgiMgRj79ZSyIgz+dSBZw4uGrU1siAUNG1Kjn63tmnABwYOzd1Ktr5/kf5APlLZHp6kTHiAAAAABJRU5ErkJggg==");
  width: 12px;
  height: 10px;
  display: inline-block; }
