body{
    margin: 0;
    padding: 0;
    background-color: #f9f4f1;
}
.clearfix{
    &:after{
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}
.page{
    min-width: 1024px;
    .page__center{
        max-width: 1200px;
        margin: auto;
        position: relative;
    }
}
.header{
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 2px, transparent 2px, transparent 14px);
        background-size: 40px 40px;
    }
    .header__top{
        padding: 20px 30px;
        background-color: #151515;
        line-height: 26px;
        a{
            margin-right: 10px;
        }
        span{
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            font-style: italic;
            margin-left: 10px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: -10px;
                bottom: 0;
                width: 1px;
                height: 17px;
                background-color: #a1a1a1;
            }
        }
    }
    .header__bottom{
        padding: 55px 30px;
        background: linear-gradient(to top, #212121, #323232);
        min-height: 141px;
        .header__main-info{
            width: 51.66%;
            a{
                display: inline-block;
            }
            .header__details{
                display: inline-block;
                margin-left: 30px;
                color: #fff;
                vertical-align: top;
                width: calc(100% - 255px);
                h1{
                    margin: 0;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 32px;
                    margin-top: -5px;
                }
                h2{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 0 20px;
                    max-width: 360px;
                    line-height: 19px;
                }
                a{
                    padding: 15px 30px;
                    border: 1px solid #fff;
                    border-radius: 23px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 12px;
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.2);
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
        .header__customer-experience{
            position: absolute;
            right: 0;
            top: -75px;
            border: 1px solid #ebebeb;
            min-width: 440px;
            .customer-experience__label{
                padding: 17px 20px;
                background-color: #f7f7f7;
                text-transform: capitalize;
                font-size: 14px;
                color: #666;
                font-weight: 700;
                margin: 0;
                border-bottom: 1px solid #ebebeb;
            }
            .customer-experience__wrapper{
                padding: 25px 20px;
                background-color: #fff;
                .customer-experience__rating{
                    display: inline-block;
                    .digit{
                        font-size: 100px;
                        color: #ffd000;
                        font-weight: 600;
                        position: relative;
                        display: inline-block;
                        line-height: 60px;
                        &:before{
                            content: "/5";
                            font-size: 20px;
                            font-weight: 700;
                            color: #999;
                            position: absolute;
                            top: -25px;
                            right: -20px;
                        }
                    }
                    .stars{
                        margin: 20px 0 10px 0;
                    }
                    .from{
                        font-size: 11px;
                        color: #999;
                    }
                }
                .customer-experience__details{
                    height: 15px;
                    display: inline-block;
                    margin-left: 30px;
                    .details__row{
                        height: 15px;
                        line-height: 15px;
                        margin-bottom: 10px;
                        display: block;
                        .icon-star-tiny{
                            margin: 0 10px 0 5px;
                        }
                        span{
                            font-size: 12px;
                            color: #999;
                            vertical-align: top;
                        }
                        .bar{
                            width: 134px;
                            height: 15px;
                            background-color: #eee;
                            margin-right: 10px;
                            display: inline-block;
                            position: relative;
                            overflow: hidden;
                            span{
                                position: absolute;
                                width: 50%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background-color: #ffd000;
                                transition: width linear 0.6s;
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-content{
    .page__center{
        max-width: 1260px;
        .left-side{
            width: 19.04%;
            background-color: #fff;
            height: 100%;
            padding: 2.38%;
            box-sizing: border-box;
            position: absolute;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 14px;
                li{
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 100%;
                        top: 0;
                        left: -16.38%;
                        background-color: #00b0eb;
                        display: none;
                    }
                    a{
                        color: #666;
                        text-decoration: none;
                        padding: 10px 0;
                        display: inline-block;
                        i{
                            margin-right: 10px;
                        }
                    }
                    &:hover:before{
                        display: block;
                    }
                    &.active{
                        font-weight: 700;
                        &:before{
                            display: block;
                        }
                    }
                }
            }
        }
        .inside-content{
            padding: 3.17%;
            width: 74.19%;
            margin-left: 19.04%;
            .filters{
                margin-bottom: 20px;
                .filter-select{
                    width: 50%;
                    float: left;
                }
            }
            .current-filters{
                font-size: 12px;
                color: #666;
                font-weight: 700;
                span{
                    margin-right: 31px;
                    position: relative;
                    &:after{
                        content: '|';
                        position: absolute;
                        right: -20px;
                        top: 0;
                        display: block;
                    }
                }
                .current-filter{
                    font-weight: 400;
                    padding: 10px 13px;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    display: inline-block;
                    border-radius: 17px;
                    cursor: pointer;
                    margin-right: 8px;
                    i{
                        margin-left: 8px;
                    }
                    &:hover{
                        background-color: darken(#fff, 5%);
                    }
                }
            }
            .reviews{
                margin-top: 20px;
                .review{
                    border: 1px solid #e0e0e0;
                    margin-bottom: 30px;
                    .review-header, .review-content, .review-footer{
                        padding: 28px 30px 24px;
                    }
                    .review-header{
                        background-color: #f7f7f7;
                        .review-header__rating{
                            float: left;
                            font-size: 12px;
                            font-weight: 700;
                            color: #666;
                            .stars{
                                margin-top: 12px;
                            }
                        }
                        .review-header__details{
                            float: right;
                            font-size: 12px;
                            color: #666;
                            text-align: right;
                            i{
                                margin-right: 5px;
                                vertical-align: top;
                            }
                            .author{
                                line-height: 14px;
                                margin-bottom: 10px;
                                span{
                                    font-weight: 700;
                                }
                            }
                            .age{
                                line-height: 12px;
                            }
                        }
                    }
                    .review-content{
                        background-color: #fff;
                        p{
                            margin: 0;
                        }
                        .review-announce{
                            font-weight: 700;
                            color: #666;
                            font-size: 20px;
                            margin-bottom: 12px;
                        }
                        .review-full{
                            font-weight: 400;
                            color: #666;
                            font-size: 14px;
                        }
                    }
                    .review-footer{
                        background-color: #fff;
                        border-bottom: 4px solid #d6d2cf;
                        .review-based{
                            float: left;
                            font-size: 11px;
                            color: #666;
                            padding-top: 18px;
                        }
                        .review-buttons{
                            float: right;
                            button{
                                outline: none;
                                font-size: 11px;
                                line-height: 15px;
                                padding: 7px 15px 7px;
                                background-color: #fff;
                                border-radius: 21px;
                                border: 1px solid #dddddd;
                                cursor: pointer;
                                &:hover{
                                    background-color: darken(#fff, 5%);
                                }
                            }
                            .button-share{
                                margin-left: 10px;
                                color: #666;
                                i{
                                    margin-right: 5px;
                                    vertical-align: text-bottom;
                                }
                            }
                            .button-like{
                                padding: 7px 30px 7px;
                                position: relative;
                                i{
                                    vertical-align: bottom;
                                }
                                span{
                                    position: absolute;
                                    width: 19px;
                                    height: 19px;
                                    border-radius: 50%;
                                    background-color: #2298c9;
                                    color: #fff;
                                    font-size: 9px;
                                    text-align: center;
                                    line-height: 19px;
                                    right: -3px;
                                    top: -6px;
                                }
                            }
                        }
                    }
                }
            }
            .reviews__loadmore{
                text-align: center;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                    z-index: 6;
                }
                button{
                    padding: 15px 50px;
                    border: 1px solid #ccc;
                    background-color: #fcfcfc;
                    color: #666;
                    font-size: 12px;
                    border-radius: 25px;
                    cursor: pointer;
                    position: relative;
                    z-index: 10;
                    outline: none;
                    font-weight: 700;
                    i{
                        margin-left: 5px;
                    }
                    &:hover{
                        background-color: darken(#fcfcfc, 10%);
                    }
                }
            }
            .about{
                min-height: 365px;
                background-image: linear-gradient(to top, #212121, #353535);
                position: relative;
                padding: 30px;
                box-sizing: border-box;
                margin-top: 40px;
                &:before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 2px, transparent 2px, transparent 14px);
                    background-size: 40px 40px;
                }
                .about__top, .about__middle, .about__bottom{
                    position: relative;
                    z-index: 500;
                }
                .about__top{
                    img{
                        height: 100px;
                        display: inline-block;
                        vertical-align: top;
                    }
                    &>div{
                        display: inline-block;
                        padding: 15px 25px;
                    }
                    div{
                        font-size: 32px;
                        color: #fff;
                        span{
                            color: #ccc;
                        }
                    }
                }
                .about__middle{
                    margin: 20px 0 60px;
                    color: #fff;
                    line-height: 19px;
                    font-size: 14px;
                }
                .about__bottom{
                    margin-top: 30px;
                    .about__visit{
                        float: left;
                        a{
                            padding: 15px 30px;
                            border: 1px solid #fff;
                            border-radius: 23px;
                            color: #fff;
                            font-weight: 600;
                            font-size: 12px;
                            text-decoration: none;
                            background-color: rgba(0, 0, 0, 0.2);
                            &:hover{
                                background-color: rgba(0, 0, 0, 0.5);
                            }
                            i{
                                margin-right: 10px;
                            } 
                        }
                    }
                    .about__social{
                        float: right;
                        a{
                            width: 30px;
                            height: 30px;
                            border: 1px solid #fff;
                            display: inline-block;
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.2);
                            text-align: center;
                            line-height: 30px;
                            &:hover{
                                background-color: rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer{
    border-top: 8px solid #ffdd00;
    .footer__top{
        padding: 70px 30px 60px;
        background-color: #484545;
        text-align: center;
        p{
            color: #fff;
            max-width: 740px;
            margin: 40px auto;
        }
        .footer__visit-link{
            display: inline-block;
            padding: 15px 50px 15px 35px;
            border: 1px solid #fff;
            border-radius: 25px;
            color: #fff;
            font-size: 12px;
            text-decoration: none;
            background: #3a3737;
            &:hover{
                background: lighten(#3a3737, 10%);
            }
            i{
                margin-right: 10px;
            }
        }
    }
    .footer__bottom{
        padding: 65px 30px 45px;
        background-color: #333;
        .footer__links{
            margin-bottom: 60px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
        }
        .footer__bottom-links{
            color: #fff;
            font-size: 12px;
            .footer__copyright{
                float: left;
            }
            .footer__address{
                float: right;
                span{
                    color: #ffdd00;
                }
            }
        }
    }
}




.jq-selectbox{
    &.focused{
        .jq-selectbox__select{
            border: none;
        }
    }
}
.filter-select{
    .jq-selectbox{
        .placeholder{
            font-weight: 700;
        }
    }
    .jq-selectbox__select{
        border-radius: 0;
        background: #fff;
        padding: 7px 45px 7px 20px;
        box-shadow: none;
        font-size: 12px;
        .jq-selectbox__trigger{
            border-left: none;
            .jq-selectbox__trigger-arrow{
                background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAQAAACWu2SvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCB4SLBxotJqwAAAAgElEQVQI1z3MIQrCYABA4e93YBUGO4HVPNAbaFmy6DD+YfdR8I8iFuOCsOYdrB7CKsgMyl58D144bjVW8WUgTdzsR2oLXcoHnevM1SOVVumeCkiFu1KrCr00drb2sMTNzFUd36FHypxsPDF1sYsfQv87Zw4ikiZ+GAIpOKCJf/EFcVckQTlF7sgAAAAASUVORK5CYII=');
                background-size: 12px;
                width: 12px;
                height: 7px;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }
    }
    .jq-selectbox__dropdown{
        font-size: 12px;
        border-radius: 0;   
        li{
            color: #666;
            padding: 7px 45px 7px 20px;
        }
    }
}
.f-reviews{
    .jq-selectbox__select{
        border-right: none;
        color: #666;
    }
    .jq-selectbox{
        &.focused{
            .jq-selectbox__select{
                border-right: none;
            }
        }
    }
}

.f-sortby{
    .jq-selectbox__select{
        color: #666;
    }
}